.button {
	display: inline-flex;
	align-items: center;

	box-sizing: border-box;
	padding: 10px;

	cursor: pointer;
	text-align: center;

	border: none;
	border-radius: 5px;

	font-size: 14px;
}

.arrow {
	display: inline-block;
	margin-left: 5px;
}

.down {
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-property: transform;
	transform: rotate(90deg);
}

.primary {
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-property: background-color;

	color: var(--white);
	background-color: var(--primary);
}

.ghost {
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-property: background-color, color;

	color: var(--black);
	border: 1px solid var(--gray-light);
	background-color: transparent;
}

.ghost svg {
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-property: fill;
	fill: var(--black);
}

.primary svg,
.ghost:hover svg {
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-property: fill;
	fill: var(--white);
}

.primary:hover {
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-property: background-color;

	background-color: var(--primary-hover);
}

.ghost:hover {
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-property: background-color, color;

	color: var(--white);
	background-color: var(--primary);
}
