html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background-color: #F5F6F8;

	font-family: var(--font-family), sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--white: #FFF;
	--primary-hover: #6344DF;
	--primary: #7653FC;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans";
}
